* { 
    font-family: 'Tilt Neon', cursive;
}

.margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    margin-right: 76px;
}


h1 {
    margin-left: 50px;
}

.author {
    margin-left: 75px;
    font-size: 17px;
}

table, th, td {
    border: 1px solid black;
    font-size: 15px;
}

th, td {
    width: 150px;
    text-align: center;
    padding: 15px;
}

.canvas {
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;
}

.contenedor .margin {
    margin-left: 75px;
}

.buttons {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 2px;
}