div {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin-left: 50px;
}

.author {
    margin-left: 75px;
}

table, th, td {
    border: 1px solid black;
}

.contenedor {
    display: flex;
}

.contenedor div {
    margin-left: 75px;
}